.containerBg {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.inputField {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.cancelButton,
.addButton {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.addButton {
  background-color: #4caf50;
  color: white;
}

@media (min-width: 768px) {
  .container {
    width: 40vw;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 60vw;
  }
}
